@model AssignmentMVC.Models.MachineInfo

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p><strong>Machine Name </strong> @Model.MachineName    </p>
<p><strong>MachineIp </strong> @Model.MachineIp    </p>
<p><strong>OsVersion </strong> @Model.OsVersion</p>
<p><strong>Timestamp </strong> @Model.Timestamp</p>